  p {
        font-family: Roboto, Arial;
        margin-top: 0;
        margin-bottom: 0;
      }

      .thumbnail {
        width: 100%;
      }

 

      .video-title {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
      }

      .video-info-grid {
        display: grid;
        grid-template-columns: 50px 1fr;
      }

      .profile-picture {
        width: 40px;
        border-radius: 50px;
      }

      .thumbnail-row {
        margin-bottom: 12px;
        position: relative; /* damit kann in eienm foto etc rein ghen und absolute in eineem foto positionieren*/
      }

      .video-author,
      .video-stats {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-author {
        margin-bottom: 4px;
      }

      .video-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;
      }
      @media (max-width:750px) {
        .video-grid{grid-template-columns: 1fr 1fr;

        }
      }
      .header{
        flex-direction: row;
        display: flex;
 height: 55px;
 justify-content: space-between;
 position: fixed;
 top:0;
 right: 0;
 left: 0;
 background-color: rgb(255, 255, 255);

z-index: 2000; /* kein px !*/
border-bottom-left-radius: 1;
      }
      body{
        margin: 0;
        padding-top: 80px;
        padding-left:80px ; /* damit der sidebar nicht die fotos einnimt */
        background-color: rgb(246, 243, 243);
      }
      .left-section{

     
      display: flex; /* damit man in einem nter conatiner gesetzen div ansprechen und diser befehl funktionstüchtig macht */
      align-items: center;

}
.right-section{ 

display: flex;
 align-items: center;
 width: 200px;   /*  */
     justify-content: space-between;
     flex-shrink: 0;
}

.middle-section{
    flex: 1;

      margin-left: 70px;
     margin-right: 35px;
display: flex;
     align-items: center;
 
}

.hamburger{
  height: 20px;
  margin-left: 24px;
  margin-right: 20px;

}
.youtube-logo
{  height: 20px;



}

.voice-search-icon{
    height: 40px;   /* heigt und width muss die selbe größe haben */
  width:  40px;
       border-radius: 50%;
border-style: solid;
border: none;
background-color: rgb(247, 246, 245);

}
.search-bar{
flex: 1 ;
  height: 36px;
  font-size: 16px;
  border-width: 1px;
border-style: solid;
  border-color:rgb(192, 192, 192) ;
box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
outline: none;
width: 0; /* damit die suchleiste kleiner wird*/
max-width: 300px;

}
.search-bar::placeholder{
  font-family: roboto;
  font-size: 16px;
  padding-left: 10px;
}
.search-bar:focus{border-color: rgb(40, 73, 128);

}
.Search-2{
  height: 25px;
  margin-top: 5px;

}
.voice-search-icon-2{
    height: 25px;
     

}
.youtube-apps{
  height: 24px;

}
.upload{
  height: 24px;

}
.notifications-2{
  height: 24px;
}
.my-channel{
    height: 32px;
    margin-right: 20px;
    border-radius: 16px;
}

.video-time{
  background-color: black;
  color: aliceblue;

  position: absolute; /* damit nimmt die farbe soviel platz wie möglich und drinenn in text */
font-family: roboto;
right: 5px;
bottom: 8px;
font-size: 12px;
font-weight: 500;
padding: 4px 4px;
border-radius: 2px;
}
.notifications-icon{
  align-items: center;
  display: flex;
  position: relative;
}
.notifications-count{
  background-color: rgb(255, 37, 37);
  position: absolute;
color: white;
font-size:12px ;
padding: 2px 5px  2px 5px;
right: -5px;
top: -2px;
border-radius: 10px;
font-size: 11px;
font-family: roboto;
}
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  border-right-width: 1px ;
  border: none;
 border-right-width:1px ;
border-right-style: solid;
border-right-color: rgb(228, 228, 228);
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
  display: flex;

}



.Search{
  height: 39px;
  width:  66px;
  background-color: rgb(245, 244, 244) ;
  border-width: 1px;
  border-style:solid;
    border-color:rgb(192, 192, 192) ;
    margin-left: -1px;
    margin-right: 10px;
    position:relative ;
    cursor: pointer;
 

}
.Search .search-hover,.voice-search-icon .search-hover,.create-1 .search-hover
{
  position: absolute;
    bottom: -30px;
  background-color: gray;
    padding: 5px;
opacity: 0;
color: white;
transition: opacity 0.15;
pointer-events: none;
font-family: roboto;
font-size: 12px;
}

.Search,.voice-search-icon,.create-1 
{
    position: relative;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;

}
.Search:hover .search-hover,
.voice-search-icon:hover .search-hover,
.create-1:hover .search-hover
{
  opacity: 1;
 

}
.voice-search-icon:hover .search-hover{
white-space: nowrap;    /* damit das in eine reihe ist und nicht unterenadrr */
}